body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    
}

h1 {
    display: block;
    font-size: 24px;
    font-weight: 100;   
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

li{
    list-style: none;
    text-transform: capitalize;
    
}

.farenheit-link{
    color: #FFF;
    text-decoration: none;
}

.celsius-link {
    color:#fff;
    text-decoration: none;
}

.weather-app-wrapper {
    max-width: 600px;
    background-image: url("https://images.pexels.com/photos/4175158/pexels-photo-4175158.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    border-radius: 4px;
}

.overview {
    margin: 0;
    padding: 0;
}

.overview .temperature {
    font-size: 60px;
    color: #FFF;
    position: relative;
    top: 17px;
}

.overview .units {
    position: relative;
    bottom: 13px;
}

.weather-icon {
    margin: 0;
    padding: 5px;
}

.weather-app-peramater{ 
    padding: 15px;
    margin: 15px;
    border: 1px solid #878787;
    border-radius: 7px;
}

.time{
    text-align: center;
    margin-bottom: 0;
}

.forecast-image {
    display: block;
    margin: 0 auto;  
    padding: 0;
    line-height: 0;  
    max-width: 60px;
}

.forecast-temperature {
    text-align: center;
    line-height: 0;
    font-size: 12px;
}

.my-name {
    color: #000;
    opacity: 0.5;
}